.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	min-width: 181px;
	height: 43px;
	background: transparent;
	padding: 10px;
	border: none;
	cursor: pointer;

	.addonRight {
		display: flex;
	}
}
