.currencyName {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 2rem 3rem;
	font-size: var(--font-size-xl);
	line-height: var(--font-line-xl);
	background-color: var(--black);
	color: var(--white);

	& p {
		text-align: center;
	}
}

@media (max-width: 450px) {
	.currencyName {
		font-size: var(--font-size-l);
		line-height: var(--font-line-l);
		padding: 2rem 0;
		word-break: break-all;
	}
}
