.listbox__container {
	display: flex;
	justify-content: start;
	padding: 0 20px 20px;

	.listbox {
		position: relative;
		width: fit-content;
		border: 1px solid #dad6d6;
		border-radius: 10px;

		.options {
			position: absolute;
			top: 50px;
			width: 100%;
			max-height: 170px;
			overflow: auto;
			background: var(--white);
			border: 1px solid #dad6d6;

			li {
				padding: 10px;
				border-bottom: 1px solid #dad6d6;
			}
		}
	}
}

.selected {
	background: var(--gray);
}

.active {
	background: rgb(168, 168, 168);
}
