.listbox {
	position: relative;
	width: fit-content;
	border: 1px solid #dad6d6;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20px;

	.options {
		position: absolute;
		top: 50px;
		width: 100%;
		background: var(--white);
		border: 1px solid #dad6d6;

		li {
			padding: 10px;
			border-bottom: 1px solid #dad6d6;
		}
	}
}
